{% extends 'layout.html' %}
{% block content %}
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

		h1 span {
			font-family: 'Ephesis', cursive;
		}

		.jumbotron-bg {
			background-image: url('static/web_images/2.jpg');
			background-size: cover;
			background-position: center;
			height: 350px;
			display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
			color: whitesmoke;
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
		}

		.card img {
			height: 200px; 
			object-fit: cover;
		}

		.card:hover {
            background-color: #f0f0f0;
        }
	</style>

	<div class="container mt-4 jumbotron-bg">
		<div class="container mt-4">
			<div class="text-center">
				<h1 class="display-4">Welcome to <span>Tet1Car!</span></h1>
				<p class="lead">Drive Your Dreams, Rent Your Journey.</p>
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<div class="row">
			{% for car in cars %}
				<div class="col-md-4 mb-4">
					<div class="card">
						{% if car.img_file %}
							<img src="{{ url_for('static', filename='car_images/' + car.img_file) }}" class="card-img-top" alt="{{ car.make }} {{ car.model }}">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
							{% for owner in owners %}
								{% if owner.id == car.car_owner.id %}
									<p class="card-text">Provider: <a href="{{ url_for('owner', owner_id=owner.id) }}">{{ car.car_owner.name }}</a></p>
								{% endif %}
							{% endfor %}
							<p class="card-text">Year: {{ car.year }}</p>
							<p class="card-text">Price: {{ car.daily_price }} dh per day</p>
							<a href="{{ url_for('reservation', car_id=car.id) }}" class="btn btn-outline-dark">Book</a>
							{% if current_user.username == 'Safuan' %}
							<a href="{{ url_for('update_car', car_id=car.id) }}" class="btn btn-outline-dark">Update</a>
							{% endif %}
						</div>
					</div>					
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
