<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='page_icon/tet1car.png') }}">
    {% if title %}
        <title>CarRent - {{title}}</title>
    {% else %}
        <title>CarRent</title>
    {% endif %}
</head>
<body class="d-flex flex-column min-vh-100 ">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand logo" href="{{ url_for('home') }}">Tet1Car</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('owners') }}">Our Providers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sign_up') }}" 
                    style="color: black;">Get Started</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="slogan">
        <h1>THE FUTURE OF MOBILITY IS HERE</h1>
        <h4>Drive Your Dreams, Rent Your Journey.</h4>
    </div>

    <footer class="footer py-2 mt-auto">
        <div class="container">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-flex-end">
                <div class="text-center text-md-left">
                    <p>© 2023. All Rights Reserved.</p>
                </div>
                <div class="text-center">
                    <div class="social-icons">
                        <a href="#" class="social-icon">
                            <img src="{{ url_for('static', filename='socialmedia_icons/fb1.jpg') }}"
                            alt="Facebook" class="img-fluid rounded-circle">
                        </a>
                        <a href="#" class="social-icon">
                            <img src="{{ url_for('static', filename='socialmedia_icons/twiter1.jpg') }}"
                            alt="Twitter" class="img-fluid rounded-circle">
                        </a>
                        <a href="#" class="social-icon">
                            <img src="{{ url_for('static', filename='socialmedia_icons/insta1.jpg') }}"
                            alt="Instagram" class="img-fluid rounded-circle">
                        </a>
                        <a href="#" class="social-icon">
                            <img src="{{ url_for('static', filename='socialmedia_icons/linkdn1.jpg') }}"
                            alt="Link-dn" class="img-fluid rounded-circle">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>