<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='page_icon/tet1car.png') }}">
    {% if title %}
        <title>CarRent - {{title}}</title>
    {% else %}
        <title>CarRent</title>
    {% endif %}
</head>
<body>
    <div class="d-flex flex-column min-vh-100 landing_page1">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo" href="{{ url_for('home') }}">Tet1Car</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('owners') }}">Our Providers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sign_up') }}" 
                        style="color: black;">Get Started</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="slogan">
            <h1>THE FUTURE OF MOBILITY IS HERE</h1>
            <h4>Drive Your Dreams, Rent Your Journey.</h4>
        </div>
    </div>
    <div class="landing_page2-3">
        <div class="landing_page2">
            <div class="landing_page2_content">
                <div class="content1">
                    <h1>Car of the Week</h1>
                    <hr>
                    <p id="week_car"><a href="{{ url_for('reservation', car_id=week_car.id) }}"> {{ week_car.make }} {{ week_car.model }} </a></p>
                    <p>
                        Meet the Dacia Duster 2023, our star of the week! Versatile, brrugged, and ready for any adventure – 
                        this SUV combines style with exceptional performance. Explore urban streets or off-road trails 
                        effortlessly with its robust build and advanced features. Book your ride today and redefine your 
                        driving experience!
                    </p>
                </div>
                <div>
                    <a href="{{ url_for('reservation', car_id=week_car.id) }}"><img src="{{ url_for('static', filename='car_images/' + week_car.img_file) }}" alt="{{ week_car.make }} {{ week_car.model }}"></a>
                </div>
            </div>
        </div>
        <div class="landing_page4">
            <div class="landing_page4_content">
                <div class="content1">
                    <h2>Top 3 Rental Picks</h2>
                    <hr>
                </div>
                <div class="top_cars">
                    {% for car in car_list %}
                    <div class="top_car">
                        <div><a href="{{ url_for('reservation', car_id=car.id) }}"><img src="{{ url_for('static', filename='car_images/' + car.img_file) }}" alt="{{ car.make }} {{ car.model }}"></a></div>
                        <div><h6><b><a href="{{ url_for('reservation', car_id=car.id) }}"> {{ car.make }} {{ car.model }} </a></b></h6></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="landing_page3">
            <div class="landing_page3_content">
                <div class="content1">
                    <h1>Your Effortless Journey Starts Here</h1>
                    <h5>
                        At <b>tet1car</b>, we redefine convenience and quality in car rentals
                    </h5>
                    <hr>
                    <p><b>Tailored Rides:</b> Find the perfect vehicle for any occasion.</p>
                    <p><b>Top-notch Fleet:</b> Experience safety and comfort with our well-maintained, quality vehicles.</p>
                    <p><b>Simple Booking:</b> Effortlessly reserve your ride with our user-friendly platform and flexible options.</p>
                    <p><b>Support on Standby:</b> Our friendly team is ready to assist, ensuring a smooth rental experience.</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer py-2 mt-auto">
        <div class="container">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-flex-end">
                <div class="text-center text-md-left">
                    <p>© 2023. All Rights Reserved.</p>
                </div>
                <div class="text-center">
                    <div class="social-icons">
                        <a href="#" class="social-icon">
                            <img src="{{ url_for('static', filename='socialmedia_icons/fb1.jpg') }}"
                            alt="Facebook" class="img-fluid rounded-circle">
                        </a>
                        <a href="#" class="social-icon">
                            <img src="{{ url_for('static', filename='socialmedia_icons/twiter1.jpg') }}"
                            alt="Twitter" class="img-fluid rounded-circle">
                        </a>
                        <a href="#" class="social-icon">
                            <img src="{{ url_for('static', filename='socialmedia_icons/insta1.jpg') }}"
                            alt="Instagram" class="img-fluid rounded-circle">
                        </a>
                        <a href="#" class="social-icon">
                            <img src="{{ url_for('static', filename='socialmedia_icons/linkdn1.jpg') }}"
                            alt="Link-dn" class="img-fluid rounded-circle">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>