{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Post new car</legend>
                    <div class="form-group">
                        {{ form.car_owner.label }}
                        {% if form.car_owner.errors %}
                            {{ form.car_owner(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.car_owner.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.car_owner(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.make.label }}
                        {% if form.make.errors %}
                            {{ form.make(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.make.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.make(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.model.label }}
                        {% if form.model.errors %}
                            {{ form.model(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.model.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.model(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.year.label }}
                        {% if form.year.errors %}
                            {{ form.year(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.year.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.year(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.seating.label }}
                        {% if form.seating.errors %}
                            {{ form.seating(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.seating.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.seating(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.description.label }}
                        {% if form.description.errors %}
                            {{ form.description(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.description.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.description(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.daily_price.label }}
                        {% if form.daily_price.errors %}
                            {{ form.daily_price(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.daily_price.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.daily_price(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.pic.label() }}
                        {{ form.pic(class="form-control-file") }}
                        {% if form.pic.errors %}
                            {% for error in form.pic.errors %}
                                <span class="text-danger">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
                <div>
                    {{ form.submit(class="btn btn-outline-info mb-4") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
