@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

/*---------------------------------------------------------------------------------------------*/

.landing_page1 {
    background-image: url('../web_images/10.jpg');
    background-size: cover;
    background-position: center;
}

.landing_page1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.23);
}

.nav-link {
    font-size: 26px;
    color: lightgoldenrodyellow;
    margin-right: 30px;
    font-weight: 350;
}
.nav-item a:hover {
    color: wheat;
}

.slogan h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    text-align: center;
}

.slogan h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    text-align: center;
    background: linear-gradient(to right, #747b7a, rgb(165, 136, 42));
}

.navbar-brand.logo {
    font-family: 'Ephesis', cursive;
    font-size: 40px;
    margin-left: 50px;
    color: lightgoldenrodyellow;
}
.navbar-brand.logo:hover {
    color: wheat;
}

.logo span {
    color: black;
}

/*---------------------------------------------------------------------------------------------*/

.landing_page2-3 {
    background: linear-gradient(to bottom, #aaaead, white);
}

/*---------------------------------------------------------------------------------------------*/

.landing_page2_content {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.landing_page2_content .content1 {
    font-family: 'Montserrat';
    color: black;
    width: 50%;
}

.landing_page2_content .content1 hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 20px 0;
}

.landing_page2_content #week_car {
    font-weight: 1000;
    padding-left: 10px;
    background: linear-gradient(to right, #747b7a, rgb(125, 111, 70));
}

.landing_page2_content #week_car a {
    text-decoration: none;
    color: black;
}

.landing_page2 img {
    border-radius: 5px;
    width: 440px;
    box-shadow: 0px 0px 10px #393e46;
    filter: brightness(0.85);
}

.landing_page2 img:hover {
    box-shadow: 0px 0px 15px #393e46;
}

/*---------------------------------------------------------------------------------------------*/

.landing_page3_content {
    padding-top: 50px;
    margin: 0 50px;
}

.landing_page3_content .content1 {
    font-family: 'Montserrat';
}

.landing_page3_content .content1 h1, h5 {
    text-align: center;
}

.landing_page3_content .content1 p {
    margin-left: 240px;
}

.landing_page3_content .content1 hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, #ccc, #333, #ccc); /* Gradient background */
    margin: 20px 0;
}

/*---------------------------------------------------------------------------------------------*/

.landing_page4_content {
    padding-top: 50px;
    margin: 0 50px;
}

.landing_page4_content .top_cars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px;
}

.landing_page4_content .top_cars .top_car {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing_page4_content .top_cars .top_car h6 {
    font-family: 'Montserrat';
    margin-top: 18px;
}


.landing_page4_content .content1 {
    font-family: 'Montserrat';
}

.landing_page4_content .content1 hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, #ccc, #333, #ccc); /* Gradient background */
    margin: 20px 0;
}

.landing_page4_content .top_cars img {
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 0px 10px #393e46;
}

.landing_page4_content .top_cars img:hover {
    box-shadow: 0px 0px 15px #393e46;
}

.landing_page4_content .top_car a {
    text-decoration: none;
    color: #333;
}

/*---------------------------------------------------------------------------------------------*/

footer {
    font-size: small;    
    color: black;
}

footer a {
    color: aliceblue;
}

footer a:hover {
    color: wheat;
    text-decoration: none;
}

.social-icon img {
    width: 20px;
    height: 20px;
}